<app-header title=""></app-header>
<ion-content>
  <p class="texto-P">"BookSwap es una plataforma para intercambiar libros con otros amantes de la lectura. Únete a nuestra comunidad y encuentra tu próxima gran lectura."</p>
  <img src="assets/icon/bookswap-landing.jpeg" alt="Imagen de libros" class="intro-image">
      <ion-card>
          <ion-card-header>
              <ion-card-title>
                  Iniciar Sesión
              </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Accede a tu cuenta para gestionar tus libros.</p>
              <ion-button expand="full" routerLink="/auth">Iniciar Sesión</ion-button>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
              <ion-card-title>
                  Registrarse
              </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Crea una cuenta para comenzar a intercambiar libros con otros usuarios.</p>
              <ion-button routerLink="/auth/sign-up" expand="full">Registrarse</ion-button>
          </ion-card-content>
      </ion-card>

</ion-content>
