<app-header [showMenu]="true" title="Mi Perfil"></app-header>
<ion-content class="ion-padding-top ion-text-center">

  <ion-avatar>
    <img *ngIf="user()?.image" title="Foto Perfil" [src]="user()?.image" />
    <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>

  <ion-button class="photo-btn" (click)="takeImage()" mode="ios" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h2 *ngIf="!editMode">{{ user().name }}</h2>

  <form *ngIf="editMode" [formGroup]="editNameForm" (ngSubmit)="updateName()">
    <ion-item>
      <ion-label position="floating">Nuevo Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="editNameForm.invalid">Guardar</ion-button>
    <ion-button type="button" (click)="cancelEdit()">Cancelar</ion-button>
  </form>

  <ion-item button detail (click)="toggleEditMode()">
    <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-label>Editar Perfil</ion-label>
  </ion-item>

  <ion-item button detail>
    <ion-icon color="primary" slot="start" name="document-outline"></ion-icon>
    <ion-label routerLink="/main/terms">Términos y Condiciones</ion-label>
  </ion-item>

</ion-content>