<app-header [showMenu]="true" title="Términos y Condiciones"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Términos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="terms-content">
      <ion-card>
        <ion-card-header>
          <ion-card-title>1. Aceptación de los Términos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Al acceder y utilizar la aplicación Bookswap, usted acepta cumplir y estar legalmente obligado por los siguientes Términos y Condiciones. Si no está de acuerdo con estos Términos, no utilice Bookswap.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>2. Descripción del Servicio</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Bookswap proporciona una plataforma en línea donde los usuarios pueden intercambiar libros con otros usuarios. Nos reservamos el derecho de modificar o descontinuar el Servicio en cualquier momento sin previo aviso.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>3. Registro de Cuenta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Para utilizar ciertas funcionalidades en Bookswap, debe registrarse creando una cuenta. Durante el registro, se le solicitará proporcionar información veraz, precisa y actualizada. Usted es responsable de mantener la confidencialidad de su cuenta y contraseña y de todas las actividades que ocurran bajo su cuenta.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>4. Iniciar y Cerrar Sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Los usuarios pueden iniciar sesión en Bookswap con sus credenciales de cuenta para acceder a los servicios ofrecidos. También pueden cerrar sesión en cualquier momento a través de la opción correspondiente en Bookswap.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>5. Intercambio de Libros</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>El Servicio permite a los usuarios intercambiar libros entre sí. Usted acepta que es responsable de cualquier transacción de intercambio realizada a través de Bookswap y se compromete a cumplir con todas las leyes aplicables en relación con dichas transacciones.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>6. Responsabilidad del Usuario</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Usted acepta usar Bookswap de manera responsable y no participar en actividades que puedan dañar, desactivar o sobrecargar el Servicio. Usted no debe utilizar Bookswap para actividades ilegales o no autorizadas.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>7. Propiedad Intelectual</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Todos los derechos de propiedad intelectual en Bookswap y el Servicio, incluidos, entre otros, los textos, gráficos, logotipos, íconos de botones, imágenes, clips de audio, descargas digitales y compilaciones de datos, son propiedad de Bookswap o de sus licenciantes y están protegidos por las leyes de propiedad intelectual aplicables.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>8. Terminación</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Nos reservamos el derecho de suspender o terminar su cuenta y acceso al Servicio en cualquier momento y por cualquier motivo, incluyendo, pero no limitado a, el incumplimiento de estos Términos.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>9. Limitación de Responsabilidad</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>En la medida permitida por la ley, Bookswap no será responsable de ningún daño indirecto, incidental, especial, consecuente o punitivo, ni de cualquier pérdida de beneficios o ingresos, ya sea incurrida directa o indirectamente, ni de cualquier pérdida de datos, uso, fondo de comercio u otras pérdidas intangibles, como resultado de su uso de Bookswap o del Servicio.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>10. Modificaciones de los Términos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Nos reservamos el derecho de modificar estos Términos en cualquier momento. Las modificaciones serán efectivas inmediatamente después de su publicación en Bookswap. Es su responsabilidad revisar estos Términos periódicamente para estar al tanto de cualquier cambio. Su uso continuado de Bookswap después de la publicación de los cambios constituirá su aceptación de los Términos modificados.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>11. Ley Aplicable y Jurisdicción</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Estos Términos se regirán e interpretarán de acuerdo con las leyes de México. Cualquier disputa que surja en relación con estos Términos estará sujeta a la jurisdicción exclusiva de los tribunales de México.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <p>Bookswap</p>
          <p>Dirección: Ciudad Universitaria, San Nicolás de los Garza<br>
             Fecha de última actualización: 17/Mayo/2024</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-content>